header {
   background-color: #DDB784;
   padding: 20px;
}
header a{
 color: #816238;
} 

footer{
   background-color:#DDB784;
   padding: 20px;
}
.imagem {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius:15px;
    margin-top:10px;
}
footer a{
   color: #816238;
}