header {
   background-color:#DDB784;
   padding: 20px;
}
h1{
    font-style:italic;
    color:#c97324;
}
h2{
    font-style: italic;
    font-family: fantasy;
    color:#B6885D;
}
h2{
font-style: italic;
    font-family: fantasy;
    color:#B6885D;
  
    .imagem {
   width: 50%;
   max-width:400px;
   height: auto;
   object-fit: cover;
   border-radius: 15px;
   margin: 10px;
   margin-right: 20px;
}


