header {
   background-color:#E0C4A0;
   padding: 20px;
}
h1{
    font-style:italic;
    color:#c97324;
}
h2{
    font-style: italic;
    font-family: fantasy;
    color:#B6885D;
}
h2{
font-style: italic;
    font-family: fantasy;
    color:#B6885D;

}



