heaheader {
   background-color: #DDB784;
   padding: 20px;
}
der a{
 color: #816238;
} 
body{
   background-color: #FEF6E1;
   text-align-last: left;
   font-size: 24px;
}

.imagem {
   width: 100%;
   max-width:400px;
   height: auto;
   object-fit: cover;
   border-radius: 15px;
   margin: 10px;
   margin-right: 20px;
}

