body{
background-color: #dbaaac;
}
h1{
    font-style:italic;
    color:#c56869;
}
h2{
    font-style: italic;
    font-family: fantasy;
}

.imagem {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius:15px;
    margin-top:10px;
}

h3{ 
    font-style: italic;
    font-family: fantasy;
    color:#532d1c; 
}
h4{
    font-style:italic;
    font-family:fantasy;
    color:#532d1c;

}
h5{
    font-style:italic;
    font-family:fantasy;
    color:#532d1c;

}
h2{
    font-style:italic;
    font-family:fantasy;
}