body{
background-color: #E0C4A0;
}
header {
    background-color: #B6885D;
    padding: 20px;
}

header a{
    color: #E0C4A0;
}
h1{
    font-style:italic;
    color:#B6885D;
}
h2{
    font-style: italic;
    font-family: fantasy;
}

.imagem {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius:15px;
    margin-top:10px;
}

h3{ 
    font-style: italic;
    font-family: fantasy;
    color:#73411F; 
}
h3{
    font-style:italic;
    font-family:fantasy;
    color:#73411F;

}
h3{
    font-style:italic;
    font-family:fantasy;
    color:#532d1c;

}
h2{
    font-style:italic;
    font-family:fantasy;
}

footer {
    background-color: #B6885D;
    padding: 20px;
}

footer a {
    color: #E0C4A0;
}